/build/
/.idea/
/.gradle/
/.vscode/
/buildSrc/
/fabric/
/common/
/neoforge/
!/buildSrc/src/
!/buildSrc/build.gradle
!/common/src/
!/common/build.gradle
!/fabric/src/
!/fabric/build.gradle
!/neoforge/src
!/neoforge/build.gradle